/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --primary-color: #1a6aa2;
  --secondary-color: hsl(210, 22%, 49%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --text-color: hsl(209, 61%, 16%);
  --bg-color: #f1f5f8;
  --box-radius: 7px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--ff-secondary);
}

ul {
  list-style-type: none;
}

/* container */
main {
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem auto;
}

.container-img img {
  width: 560px;
  height: 23.5rem;
  object-fit: cover;
  padding-bottom: 1.5rem;
}

.countdown {
  max-width: 560px;
}

.countdown-title h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primary-color);
  font-size: 1.6rem;
}

.giveaway {
  text-transform: capitalize;
  letter-spacing: 4px;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.countdown-content {
  color: var(--secondary-color);
  margin-top: 2rem;
  line-height: 1.4rem;
}

.deadline {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}

.deadline-format {
  margin-right: 1rem;
  text-align: center;
  background: var(--text-color);
  color: #f1f5f8;
  width: 4.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.7rem;
  text-transform: uppercase;
}

.deadline-format h1 {
  letter-spacing: 2px;
  font-size: 1.9rem;
}

.deadline-format h5 {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.deadline h4 {
  text-transform: capitalize;
  letter-spacing: 4px;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* media */
@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }

  .container-img img {
    width: 90vw;
    height: 18rem;
  }

  .countdown {
    width: 90vw;
  }

  .giveaway {
    font-size: 0.8rem;
  }

  .deadline h4 {
    font-size: 0.8rem;
  }
}
